/* Bottom right text on index page*/
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: darkblue;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Courier New", Courier, monospace;
  top: 25%;
  left: 50%;
}

.container-fluid {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Times", Georgia, "Times New Roman", Times, serif;
  padding-left: 60px;
  padding-right: 60px;
}

.message-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

#destination-header {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
}

#contact-me-header {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  margin-top: 80px;
  margin-bottom: 60px;
}

#contact-form {
  align: center;
}

.card-body {
  font-family: "Courier New", Courier, monospace;
}
